/**{
    padding: 0;
    margin: 0;
}*/

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

table{
    text-align: center;
}

body{
    background-image: url('../image/body.jpg');
}

#play{
    top: 1.5%;
    left: 7.2%;
    position: absolute;
    width: 30px;
    height: 30px;
}

#download{
    top: 1.1%;
    right: 11.2%;
    position: absolute;
}

#editor{
    top: 1.1%;
    right: 7.6%;
    position: absolute;
}

#delete{
    top: 1.1%;
    right: 4%;
    position: absolute;
}
